.mainCont {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainCompCont {
  width: 90%;
  min-height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
