@font-face {
  font-family: "Yanone";
  src: url("./styles/YanoneKaffeesatz-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  background: none;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

:root {
  --mainBgColour: rgb(4, 3, 2);
  --mainHighlightColour: rgb(255, 43, 145);

  --secondaryBgColour: rgb(255, 179, 0);
  --secondaryHighlightColour: white;

  --bodyBgColor: rgb(24, 23, 22);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Yanone";
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--mainBgColour);

  height: 100%;
}
